.slick-carousel{
    width: 100%;
    overflow: hidden;

    .slick-list,
    .slick-track{
        height: 100%;
    }

    .slick-dots{
        position: absolute;
        bottom: 20%;

        @media screen and (min-width: $md-lg){
            bottom: 10%;
        }
        li{
            margin: 0 10px;
        }
        li button{
            border: 2px solid white;
            border-radius: 50%;
            height: 26px;
            width: 27px;
            &:before{
                color: white;
                font-size: 10px;
                height: 100%;
                width: 100%;
                padding: 4px 0 0 4px;
            }
        }
    }

    .contents{
        height: 100%;
        width: 100vw;

        div{
            position: relative;
        }
        img{
            min-width: 100%;
            height: 100%
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7721463585434174) 12%, rgba(0,0,0,0.5760679271708684) 18%, rgba(0,0,0,0.469625350140056) 66%, rgba(0,0,0,0.23713235294117652) 100%);
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        .card{
            position: absolute;
            top: 20%;
            z-index: 3;
            color: white;
            font-size: 1.5rem;
            text-align: center;
            width: 50%;
            left: 25%;

            h1{
                text-transform: uppercase;
                
            }
            a{
                display: block;
                @include btn;
                margin: 0 auto;
            }

            @media screen and (min-width: $md-lg){
                width: 25%;
                top: 25%;
                text-align: left;
                left: 15%;
                a{
                    margin: 0 0;
                }
            }
        }
    }
    .web-design a,
    .web-design-wrap a{ background-color: $cl-web-design; &:hover{ background-color: $cl-web-design-dark; } }
    .it-support a{ background-color: $cl-it-support; &:hover{ background-color: $cl-it-support-dark; } }
    .telecoms-services a{ background-color: $cl-telecoms-services; &:hover{ background-color: $cl-telecoms-services-dark; } }
    .bespoke-software a{ background-color: $cl-bespoke-software; &:hover{ background-color: $cl-bespoke-software-dark; } }
    .digital-marketing a{ background-color: $cl-digital-marketing; &:hover{ background-color: $cl-digital-marketing-dark; } }
    .cyber-security a{ background-color: $cl-cyber-security; &:hover{ background-color: $cl-cyber-security-dark; } }

    .contents{
        min-width: 100%;
        height: calc(100vh - 128px);
        @media screen and (min-width: $md){
            height: calc(100vh - 93px);
        }
        @media screen and (min-width: $md-lg){
            height: calc(100vh - 210px);
        }
    }
}


