.latest{
    width: 100%;
    margin: 50px auto;
    @media screen and (min-width: $md-lg){
        width: 80%;
    }

    h3{
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 10%;

        @media screen and (min-width: $md-lg){
            margin-left: 0;
        }
    }
    #latest-underline{
        width: 75px;
        height: 5px;
        background: black;
        margin: 40px 0;
        margin-left: 10%;

        @media screen and (min-width: $md-lg){
            margin-left: 0;
        }
    }

    .articles{
        width: 100%;
        justify-content: space-around;

        @media screen and (min-width: $md){
            display: flex;
            justify-content: space-around;
        }

        .article{
            border: 1px solid rgba(0, 0, 0, 0.2);
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 10px;

            @media screen and (min-width: $xl){
                width: 30%;
            }
            
            h4{
                font-weight: bold;
            }
            //-- Article 1 -------------------------/
            &:nth-child(1){
                h4{
                    color: $cl-bespoke-software;
                }
                .content .btn{
                    background: $cl-bespoke-software;
                    &:hover{
                        background: $cl-bespoke-software-dark;
                    }
                }
                .img .btn{
                    background: $cl-bespoke-software;
                }
            }
            //-- Article 2 -------------------------/
            &:nth-child(2){
                h4{
                    color: $cl-it-support;
                }
                .content .btn{
                    background: $cl-it-support;
                    &:hover{
                        background: $cl-it-support-dark;
                    }
                }
                .img .btn{
                    background: $cl-it-support;
                }
            }
            //-- Article 3 -------------------------/
            &:nth-child(3){
                h4{
                    color: $cl-web-design;
                }
                .content .btn{
                    background: $cl-web-design;
                    &:hover{
                        background: $cl-web-design-dark;
                    }
                }
                .img .btn{
                    background: $cl-web-design;
                }
                display: block;
                @media screen and (min-width: $md){
                    display: none;
                }
                @media screen and (min-width: $xl){
                    display: block;
                }
            }

            .img{
                position: relative;
                img{
                    border-radius: 5px 5px 0 0;
                    width: 100%;
                    transition: 0.2s ease;
                }
                a{
                    position: absolute;
                    top: 10px;
                    right: 0;
                    padding: 5px;
                    padding-left: 7px;
                    background: black;
                    color: white;
                    font-size: 15px;
                    z-index: 10;

                    &:hover{
                        text-decoration: underline;
                    }
                }
                overflow: hidden;
                &:hover img{
                transform: scale(1.1);
                }
                div{
                    cursor: pointer;
                    transition: 0.2s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.3);
                    opacity: 0;
                    z-index: 3;
                }
                &:hover div{
                    opacity: 1;
                }
            }
            .content{
                padding: 10px 30px;
                height: 220px;
                display: flex;
                flex-direction: column;
            
                .title{
                    font-weight: bold;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                .btn{
                    @include btn;
                    margin-top: auto;
                    display: block;
                    width: 140px;
                    font-size: 1.063rem;
                }

                @media screen and (min-width: $md){
                    height: 310px;
                }
                @media screen and (min-width: $md-lg){
                    height: 250px;
                }
            }
            .author{
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                margin: 40px 5px 0 5px;
                padding: 10px;
                display: flex;
                align-items: center;

                img{
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    margin-right: 20px;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    h4{
                        font-weight: bold;
                        margin-bottom: 0;
                        color: #333645;
                    }
                    p{
                        margin-top: 0;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}