.main-nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    @media screen and (min-width: $md-lg){
        width: 92%;
        margin: 0 auto;
        height: 110px;
    }
    @media screen and (min-width: $xl){
        width: 85%;
    }

    .logo{
        margin-right: auto;
        max-width: 50vw;
    }
    #main-logo{
        cursor: pointer;
    }
    a{
        @include btn;
        display: none;
        margin-right: 20px;
        background: #4183d7;
        font-size: 1rem;
        width: 150px;

        &:hover{
            background: #3b76c4;
        }
        i{
            margin-right: 10px;
        }

        @media screen and (min-width: $mdplus){
            display: inline-block;
        }
        &[href*="contact"]{
            background-color: #999aa2;

            &:hover{
                background: #7f8086;
            }
            @media screen and (min-width: $xl){
                margin-right: 20px;
            }
        }
    }
    .icon-phone{
        height: 54px;
        width: 54px;
        font-size: 30px;
        transform: scaleX(-1);

        @media screen and (min-width: $mdplus){
            display: none;
        }
    }
    .search-bar{
        order: 2;
        width: 100%;
        position: relative;
        border: 3px solid rgba(180, 180, 180, 0.3);
        border-radius: 3px;
        margin-top: 10px;

        @media screen and (min-width: $md-lg){
            order: 0;
            width: 200px;
            margin: auto 20px auto 0;
            height: 54px;
            border: none;
        }
        @media screen and (min-width: $xxl){
            width: 200px;
        }

        input{
            width: 100%;
            float: right;
            background-color: rgba(180, 180, 180, 0.1);
            padding: 10px;
            color: rgba(180, 180, 180, 1);
            font-family: "Lato", "Open Sans", sans-serif;

            &:focus{
                outline: none;
            }

            @media screen and (min-width: $md-lg){
                height: 54px;
                background: none;
                border: 1px solid rgba(153, 154, 162, 0.5);
                border-radius: 3px 0 0 3px;
            }
        }
        button{
            position: absolute;
            right: 0;
            padding-right: 10px;
            height: 100%;
            cursor: pointer;

            &:hover{
                background: #7f8086;
            }
            @media screen and (min-width: $md-lg){
                height: 54px;
                margin-bottom: 5px;
                padding: 0;
                width: 30%;
                border-radius: 0px 3px 3px 0;
                color: white;
                background: #999aa2;
            }
            @media screen and (min-width: $xxl){
                border-radius: 3px;
            }
        }
    }

    .hamburger{
        color: white;
        height: 54px;
        background: rgb(61, 61, 61);
        width: 60px;

        div {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            margin-left: 13px;
        }
        span{
            margin-left: 15px;
            font-size: 13px;
            position: relative;
            bottom: 5px;
        }
        &:hover{
            background: #000000;
        }
    }
}