.secondary-nav{
    height: 100px;
    background: #333645;
    display: none;

    @media screen and (min-width: $md-lg){
        display: block;   
    }
    .sec-nav-cont{
        height: 100px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        li:hover{
            ul[class*="dropdown"]{
                display: block;
            }
        }

        .category{
            height: 100px;
            width: 200px;
            max-width: 200px;
            border-left: 1px solid rgba(255,255,255,0.1);

            &[class*="category"]:last-child{
                border-right: 1px solid rgba(255,255,255,0.1);
            }

            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 20px;

            &:hover{
                i{
                    color: white;
                }
            }

            i{
                align-self: center;
                margin-bottom: 10px;
            }
            span{
                color: white;
                align-self: center;
                font-size: 12px;
                text-transform: uppercase;
                &:last-of-type{
                    font-size: 18px;
                }
            }
        }

        // WEB DESIGN -------------------------/
        .web-design{

            &:hover{
                background-color: $cl-web-design;
            }
        
            i{
                color: $cl-web-design;
            }
        }

        // IT SUPPORT -------------------------/
        .it-support{

            &:hover{
                background-color: $cl-it-support;
            }
        
            i{
                color: $cl-it-support;
            }
        }

        // TELECOMS SERVICES -------------------------/
        .telecoms-services{

            &:hover{
                background-color: $cl-telecoms-services;
            }
        
            i{
                color: $cl-telecoms-services;
            }
        }

        // BESPOKE SOFTWARE -------------------------/
        .bespoke-software{

            &:hover{
                background-color: $cl-bespoke-software;
            }
        
            i{
                color: $cl-bespoke-software;
            }
        }

        // DIGITAL MARKETING -------------------------/
        .digital-marketing{

            &:hover{
                background-color: $cl-digital-marketing;
            }
        
            i{
                color: $cl-digital-marketing;
            }
        }

        // CYBER SECURITY -------------------------/
        .cyber-security{

            &:hover{
                background-color: $cl-cyber-security;
            }
            border-right: 1px solid rgba(255,255,255,0.1);
        
            i{
                color: $cl-cyber-security;
            }
        }
    }

    // DROPDOWN NAVS ------------------/
    ul[class*="dropdown"]{
        z-index: 3;
        display: none;
        width: 100%;
        height: 60px;
        position: absolute;
        left: 0;
        text-transform: uppercase;
        >li{
            height: 100%;
        }
        ul{
            height: 100%;
            width: 62.5%;
            color: white;
            margin-left: 5vw;
            display: flex;
            li,
            span{
                align-self: center;
                margin-right: 30px;
            }
            li:nth-child(even){
                font-size: 30px;
            }
            a{
                cursor: pointer;
            }

            @media screen and (min-width: $xxl){
                margin: 0 auto;
            }
        }        
    }
    .web-dropdown{ background-color: $cl-web-design-dark; }
    .it-dropdown{ background-color: $cl-it-support-dark; }
    .telecoms-dropdown{ background-color: $cl-telecoms-services-dark; }
    .software-dropdown{ background-color: $cl-bespoke-software-dark; }
    .marketing-dropdown{ background-color: $cl-digital-marketing-dark; }
    .security-dropdown{ background-color: $cl-cyber-security-dark; }
}