@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    box-sizing: border-box;
    font-family: "Lato", "Open Sans", sans-serif;
    font-weight: normal;
    background: none;
    border: none;
    letter-spacing: 1px;
}
p{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}