
// BreakPoints ---------------/

$md: 768px;
$md-lg: 1160px;
$lg: 992px;
$xl: 1300px;
$xxl: 1500px;

// Colours ------------------/

$cl-web-design: #926fb1;
$cl-it-support: #4183d7;
$cl-telecoms-services: #d64541;
$cl-bespoke-software: #67809f;
$cl-digital-marketing: #2ecc71;
$cl-cyber-security: #f62459;

$cl-web-design-dark: #79539a;
$cl-it-support-dark: #286abd;
$cl-telecoms-services-dark: #bc2c28;
$cl-bespoke-software-dark: #526781;
$cl-digital-marketing-dark: #25a25a;
$cl-cyber-security-dark: #de093f;

$footer-bg: #333645;

$purple: #3B3646;
$red: #EE4B5A;